/**
 * @file
 * Detailed stylings are all yours, get yourself dirty.
 */

.slick--skin--boxed.slick--slider .slick__slide .slide__caption {
  visibility: hidden;
}

.slick--skin--boxed.slick--slider .slick__slide.slick-active .slide__caption {
  visibility: visible;
}

@media (min-width: 48em) {
  .slick--skin--boxed > .slick__slider > .slick-list {
    margin: 0 60px;
  }
}
