/**
 * @file.
 * Provided basic layout and styling for the Slick based on custom settings.
 */

/* Credit: https://github.com/tobiasahlin/SpinKit */
@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.slick-wrapper,
.slick,
.slick *,
body.adminimal-theme .slick * {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slick img {
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.slick img,
.slick iframe {
  border: 0;
  max-width: 100%;
}

.slick {
  max-width: 100%;
  position: relative;
}

.slick-initialized {
  overflow: visible;
}

/** Visibility fix for stacking slides during initialization. */
.slick__slide {
  max-width: 100%;
  position: absolute;
  visibility: hidden;
}

/** Prevents collapsing container during initialization. */
.slick__slide.slide--0 {
  position: relative;
}

.unslick .slick__slide,
.slick-initialized .slick__slide {
  position: relative;
  visibility: visible;
}

/* Prevents collapsing slick when unslick like one item. */
.unslick .slide {
  width: 100%;
}

.slick__slide.slick-center {
  z-index: 1;
}

.slick__slide.slick-current {
  z-index: 4;
}

/** Draggable cursors. */
.draggable {
  cursor: grab;
  cursor: -webkit-grab;
}

.draggable:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.draggable:active a,
.draggable:active .slide__caption {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/**
 * Arrows contained/wrapped within slick__arrow for easy moves.
 */
.slick__arrow {
  bottom: auto;
  display: none;
  height: 2px;
  left: 0;
  margin-top: -1px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 2;
}

.slick__arrow li,
.slick__arrow button {
  pointer-events: auto;
}

.slick__arrow button {
  display: none;
}

.slick--has-arrow-down > .slick__arrow {
  bottom: 20px;
  height: 62px;
  left: 50%;
  margin: 0 0 0 -90px;
  top: auto;
  width: 180px;
}

.slick-arrow,
.slick-down {
  border: 0;
  border-radius: 50%;
  font-size: 0;
  height: 42px;
  pointer-events: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 42px;
}

.slick-arrow:active,
.slick-arrow:focus,
.slick-down:active,
.slick-down:focus {
  box-shadow: none;
  outline: 0;
}

.slick-arrow::before,
.slick-arrow::after,
.slick-down::before,
.slick-down::after {
  pointer-events: none;
}

/* Overrides problematic hidden arrows at core slick.css */
.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-arrow::before {
  color: #ff6d2c;
  font-size: 36px;
  font-size: 2.25rem;
}

.slick-arrow:hover::before {
  color: #37465b;
}

/* Pure CSS arrow down, override by icon font accordingly */
.slick-down {
  background: #ff6d2c;
  cursor: pointer;
  height: 48px;
  left: 50%;
  margin-left: -24px;
  top: 50%;
  width: 48px;
}

.slick-down:hover {
  background: #37465b;
}

.slick-down::before,
.slick-down::after {
  border-right: 3px solid;
  color: #fff;
  content: '';
  display: block;
  height: 16px;
  margin-top: -6px;
  position: absolute;
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 28px;
  top: 50%;
  width: 0;
}

.slick-down::after {
  right: 18px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slick-down:hover::before,
.slick-down:hover::after {
  color: #fff;
}

.slick__arrow .slick-arrow,
.slick-initialized ~ .slick__arrow,
.slick-initialized ~ .slick__arrow .slick-down {
  display: block;
}

.slick-initialized ~ .slick__arrow.element-hidden {
  display: none;
}

/**
 * Skins.
 */
.slide__content::after {
  content: "";
  display: table;
  clear: both;
}

.slide__title {
  margin: 10px 0 5px;
  line-height: 1.2;
}

.slide__link {
  margin: 30px auto;
}

.slide__pattern {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADAQMAAABs5if8AAAAA3NCSVQICAjb4U/gAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAACusAAArrAYKLDVoAAAAWdEVYdENyZWF0aW9uIFRpbWUAMjUvMDQvMTHvvlk6AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1cbXjNgAAAA5JREFUCJljSGB4wPAAAAVmAiGdUf+vAAAAAElFTkSuQmCC") repeat 0 0;
}

/**
 * Bullets.
 */
/* Makes the pointer work when bullets placed over the slide. */
.slick-dots li button {
  pointer-events: auto;
}

/* Overrides too tiny bullets from core slick.css */
.slick-dots li button::before {
  font-size: 12px;
  font-size: 0.75rem;
}

/* Overrides .slick-slider to make caption text selectable. */
.slide__caption {
  cursor: text;
  position: relative;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  -webkit-user-select: text;
  user-select: text;
  width: 100%;
}

/**
 * Complex layout needs custom refinement for mobile, hence it is reasonable
 * to apply for Desktop up. Adjust mobile version accordingly.
 */
/**
 * Slide layouts, adjust accordingly per actual container slide.
 */
.slick--display--main .slide__caption {
  min-height: 32%;
  padding: 20px 0;
  z-index: 3;
}

.slick--display--thumbnail .slide__caption {
  padding: 5px 6px;
}

/* Prevent stacking oversized thumbnails when/before JS is on. */
.slick--display--thumbnail .slick__slide {
  float: left;
}

/**
 * Media
 */
/* Hide broken lazyloaded image for non-JS. */
img[data-lazy] {
  display: none;
}

/* Prevents confusing white space with centerPadding */
.media__image {
  margin-left: auto;
  margin-right: auto;
}

/* Overrides core > 1.3.11, otherwise thumbnails are non-clickable */
.slick--display--thumbnail .slick__slide img {
  pointer-events: auto;
}

/* Media ratio */
.media,
.slide__media {
  overflow: hidden;
  position: relative;
}

.media--ratio {
  height: 0;
  /* padding-top: 30px; IE7 fix */
}

/* Allows to fix broken images with hidden elements, see slick.load.js. */
.js-media--ratio {
  height: auto;
}

/* 1:1 ratio */
.media--ratio--11 {
  padding-bottom: 100%;
}

/* 3:2 ratio */
.media--ratio--32 {
  padding-bottom: 66.66%;
}

/* 4:3 ratio */
.media--ratio--43 {
  padding-bottom: 75%;
}

/* 8:5 ratio */
.media--ratio--85 {
  padding-bottom: 62.5%;
}

/* 16:9 ratio */
.media--ratio--169 {
  padding-bottom: 56.25%;
}

.media--ratio > .media__element {
  border: 0 none;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.media__element {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

/* The lazyloaded element: IMG, IFRAME, DIV */
.media--loading .media__element {
  display: block;
  opacity: 0;
}

/* Needed to display preloader with CSS BG image, otherwise hidden. */
.media--loading.media--background {
  opacity: 1;
}

.media--loading {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

.media--loading::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  max-width: 30px;
  background: #2eaae0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  font-size: 0;
  z-index: 22;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

.media--background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slide--loading .slide__caption {
  visibility: hidden;
}

/* Prevents nested slicks from inheriting background images. */
.slick--nested .media--background {
  background-image: none;
}

/** @todo: Remove temp fix for when total <= slidesToShow. */
/** @see https://github.com/kenwheeler/slick/issues/262 */
.slick--less .slick-track {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slick--less .slick-slide {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.slick--less .draggable {
  cursor: default;
}

@media (min-width: 64em) {
  /* Fixed FireFox draggable issue, avoid asNavFor thumbnails. */
  .slick--display--main .slick__slide img {
    pointer-events: none;
  }

  .slide__caption {
    left: 0;
    padding: 20px;
    top: 10%;
  }

  .slide--caption--center .slide__caption,
  .slide--caption--center-top .slide__caption,
  .slide--caption--right  .slide__caption {
    width: 42%;
  }

  .slide--caption--center .slide__caption {
    margin-top: -16%;
    position: absolute;
    top: 50%;
  }

  .slide--caption--center .slide__caption,
  .slide--caption--center-top .slide__caption {
    left: 50%;
    margin-left: -21%;
    padding: 0;
    position: absolute;
    text-align: center;
  }

  .slide--caption--right .slide__caption {
    left: auto;
    position: absolute;
    right: 0;
  }

  .slide--caption--top .slide__caption,
  .slide--caption--bottom .slide__caption {
    position: absolute;
    width: 100%;
  }

  .slide--caption--top .slide__caption {
    top: 0;
  }

  .slide--caption--bottom .slide__caption {
    bottom: 0;
    top: auto;
  }

  .slick--has-arrow-down .slide--caption--bottom .slide__caption {
    padding-bottom: 80px;
  }

  .slide--caption--stage-left .slide__caption,
  .slide--caption--stage-right .slide__caption,
  .slide--caption--stage-zebra .slide__caption {
    left: 50%;
    margin-left: -41%;
    padding: 0;
    position: absolute;
    width: 82%;
  }

  .slick--display--thumbnail .slide__caption,
  .slide--caption--below .slide__caption {
    padding: 20px 0;
    position: relative;
    top: auto;
    width: 100%;
  }

  .slick--display--thumbnail .slide__caption {
    padding: 5px 6px;
  }

  #overlay .slick-wrapper,
  #overlay .slick {
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
  }
}
