// Drupal comes with CSS quirks (Drupalisms). Unravel or override them here.

// Make the "sticky" Top Bar play nice with the "fixed" Admin Menu.
.admin-menu .fixed {
  top: emCalc(29px);
}

// Remove the bottom padding on status messages when displayed inside a Zurb
// Foundation Reveal modal.
#status-messages.reveal-modal {
  .alert-box {
    margin-bottom: 0;
  }
}

// Fix Zurb Foundation Reveal Modal z-index and make it play nice with dropdown
// menus, lightboxes, etc.
.reveal-modal {
  z-index: 999;
}

// Override Drupal Core pager styles. This is necessary because we need to keep
// the .pager class on pagers for Views AJAX to work. If you are disabling
// Drupal Core CSS you can safely comment the following lines.
.item-list .pager {
  clear: none;
}

.item-list .pager li {
  padding: 0;
}

/* these apply to all ajax progresses */
.ajax-progress {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.view-empty{
  background: $grey06;
  padding: 20px;
  margin: 20px 0 40px 0;
  p{
    font-family: "Adelle SemiBold";
    font-size: 20px;
    line-height: 32px;
    color: #444444;
  }
}

.contextual-links-region{
  clear:both;
}

//CKeditor body
.cke_editable {
  padding: 1%!important;
  h2, h3, h4 {
    font-family: 'Proxima Nova SemiBold';
    color: $grey02;
  }
  h2 {
    font-size: 30px;
    margin: 36px 0 24px;
  }
  
  h3 {
    font-size: 22px;
    margin: 24px 0 0;
  }
  
  h4 {
    font-size: 21px;
    font-style: italic;
    margin: 24px 0 0;
    color: $grey03;
  }
  }

//Ckeditor source code wrap
.cke_source {
    white-space: pre-wrap!important;
}

.form-textarea-wrapper textarea {
  .cke_source {
      white-space: pre-wrap!important;
  }
}

//CKEditor Image styles
.cke_editable {
  img.media-element.file-media-landscape-image {
    float: left;
    width: 400px;
    height: auto;
    padding: 1% 1% 1% 0;
  }
  img.media-element.file-media-portrait-image {
    float: left;
    width: 225px;
    height: auto;
    padding: 1% 1% 1% 0;
  }
}