/**
 * @file
 * Provides shared lightbox stylings for both Colorbox and Photobox.
 */

.media-icon--lightbox {
  cursor: pointer;
  display: block;
  height: 80px;
  left: 50%;
  margin: -40px 0 0 -40px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 80px;
  visibility: hidden;
  z-index: 9;
  -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.media-icon--lightbox::before,
.media-icon--lightbox::after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
}

.media-icon--lightbox {
  z-index: 9;
}

.media-icon--lightbox::before,
.media-icon--lightbox::after {
  background: white;
  border-radius: 4px;
  height: 2px;
  left: 50%;
  margin: -1px 0 0 -40px;
  top: 50%;
  width: 80px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.media-icon--lightbox::after {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.media-icon--lightbox:hover::before,
.media-icon--lightbox:hover::after {
  background-color: #ff6d2c;
}

.media:hover .media-icon--lightbox {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.media:hover .media-icon--lightbox,
.media--switch .slick__image {
  opacity: 1;
  visibility: visible;
}

.slick__litebox {
  display: block;
}
