// Simple calendar downloads block
.calendar-dls {
	max-width: 100%;
	margin: 0 auto;
	@extend .l-row--main;

	.block-title {
		font-family: "Proxima Nova Regular";
		color: $grey02;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.cal-dl-wrapper {
		background-color: $grey06;
		padding: 30px;

		.l-col {
			padding: 0 10px 20px;

			& + .l-col {
				padding-top: 30px;
  				padding-bottom: 0;
  				border-top: 1px solid $grey05;
			}
			h3 {
				margin-bottom: 10px;
				font-family: "Adelle Bold";
				color: $grey02;
				font-size: 18px;
				line-height: 25px;
			}
			ul {
				list-style: none;

				li {
					display: block;
					a {
						display: block;
						font-family: "Proxima Nova Regular";
						color: $blue01;
						font-size: 12px;
						line-height: 18px;
						text-transform: uppercase;
						&:before {
							font-size: 25px;
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}

@media #{$tablet} {
	.calendar-dls {
		max-width: 600px;

		.block-title {
			font-family: "Proxima Nova Regular";
			color: $grey02;
			font-size: 14px;
			line-height: 18px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.cal-dl-wrapper {
			background-color: $grey06;
			width: 100%;
			padding: 30px;
			margin: 0 0 20px 0;	

			.l-col {	
				padding: 0;
				min-height: 116px;

				& + .l-col {
					padding: 0 0 0 50px;
  					border-left: 1px solid $grey05;
  					border-top: none;
				}
				h3 { 
					margin-bottom: 20px;
				}
				ul {
					li {
						list-style-type: none;
						a {
							font-family: "Proxima Nova Regular";
							color: $blue01;
							font-size: 12px;
							line-height: 15px;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
}
