/*-------------------------------------------------------
/
/ 	Committee Updates
/ 	Exists on : Committee Detail Page
/
/-------------------------------------------------------*/

.c-updates-container {

	.dropdown {
		display: block;
	}
	.l-tab-bar {
		display: none;
	}

	.c-update-block {
		overflow: hidden;
		display: block;
		position: relative;
		border-top: 1px solid $grey05;

		.l-left {
			margin-top: 20px;

			.c-type {
				font-family: 'Adelle Bold';
				font-size: 16px;
				color: $grey02;
				margin-bottom: 10px;
			}

			.c-category {
				width: 100%;
				margin: 0 0 20px 0;
				color: $orange01;
				text-transform: uppercase;
				font-size: 12px;
				font-family: 'Proxima Nova SemiBold';
			}
		}
		
		.l-right {
			.c-name {
				font-family: 'Adelle Light';
				font-size: 18px;
				color: $grey02;
				padding-right: 30px;
				a {
					color: $grey02;
				}
			}

			.c-date {
				font-family: 'Proxima Nova Regular';
				font-size: 14px;
				color: $grey04;
				margin-top: 10px;
			}

		}
		.c-image {
			width: 220px;
			height: 125px;
			float: right;
			margin-top: 30px;
			display: none;
		}

	}

	.c-update-block--image {
		.l-right {
			width: 270px;
			.c-name {
				padding-right: 0;
			}
		}
	}

	.c-more {
		color: $blue01;
		text-transform: uppercase;
		text-align: center;
		background-color: $grey06;
		font-size: 14px;
		font-family: 'Proxima Nova SemiBold';
		padding: 20px 0;
		width: 100%;
		outline: none;
		border: none;
	}
	
	.c-more:after {
		margin-left: 5px;
		font-weight: bold;
	}
}


@media #{$tablet} {
	.c-updates-container {

		.dropdown {
			display: none;
		}
		.l-tab-bar {
			display: block;
		}

		/* 
		 *	container header usually has a bottom border
		 *	but this conflicts with the top borders of the update items
		*/  
		.c-container--header {
			border-bottom: none;
		}
		
		.c-update-block {
			padding: 35px 0 40px;

			.l-left {
				position: relative;
				float: left;
				width: 25%;
				max-width: 180px;
				margin-top: 0;
				padding-right: 30px;

				.c-category {
					float: none;
					margin: 0 30px 0 0;
					max-width: 150px;

					a { color: $orange01; }
				}
			}
			
			.l-right {
				float: left;
				width: 75%;
				max-width: 580px;
				padding-right: 30px;

				.c-name {
					font-size: 24px;
				}

				.c-date {
					margin-top: 20px;
				}

			}	
			&.c-update-block--image {
				.l-right {
					width: 46%;
					max-width: 360px;
				}
			}
			.c-image {
				display: block;
				margin-top: 0;
				width: 29%;
				max-width: 220px;
			}
		}
	}
}