.item-list .pager {
	&.pager-load-more{
		display: block;
		margin: 20px 0;
		width: 100%;
		background-color: $grey06;
		
		float: left;

		font-weight: normal;
		text-transform: uppercase;

		.pager-next {
		 	margin: 0;

		 	> a {
		 		display: block;
				padding: 15px 0;
				width: 100%;
				text-align: center;
		
				font-family: "Proxima Nova SemiBold";
				font-size: 16px;
				line-height: 25px;

				@extend .icon-after__see-more;
				@extend .lgt-text;

				&:after {
					height: 24px;
					margin-top: -3px;
					font-size: 24px;
					line-height: 25px;
					@extend .lgt-text;
				}
			}
		}
		&.pager-load-more-empty {
			display: none;
		}
	}
}
