body.maintenance-page {
  text-align: center;
  padding-top: 5%;
  img {
    width: 10%;
    margin: 0 auto;
  }
  #container #content-content {
    font-size: 24px;
  }
}

.krumo-node {
  img {
    width: 4%;
  }
}