.node-type-public-hearing {
	.columns {
		padding: 0;
	}
	.meeting-status {
		font-family: "Proxima Nova Regular";
		font-size: 16px;
		text-transform: uppercase;
		line-height: 20px;
		padding-top: 20px;
		border-top: 1px solid $grey05;
		margin-bottom: 40px;
	}
	.pane-embedded-youtube-video {
		iframe {
			min-width: 100%;
		}
	}
	.pane-upcoming-legislation {
		margin-top: 40px;
		.l-panel-col--lft {
			a {
				color: $yellow03;
				text-transform: uppercase;
				font-family: "Proxima Nova SemiBold";
				font-size: 12px;
				padding-right: 10px;
			}
		}
	}
	.pane-public-hearing-detail {
		.view-public-hearing-detail {
			.view-content {
				position: relative;
				.hearing-title {
					font-family: "Adelle Light";
					font-size: 24px;
					line-height: 46px;
					color: $grey02;
					margin-top: -65px;
				}
				.hearing-location {
					font-family: "Proxima Nova Regular";
					font-size: 14px;
					line-height: 18px;
					color: $blue01;
				}
				.hearing-place {
					font-family: "Proxima Nova SemiBold";
					font-size: 14px;
					line-height: 18px;
					color: $grey05;
				}
				.hearing-date {
					font-family: "Proxima Nova SemiBold";
					font-size: 14px;
					line-height: 21px;
				}
				.hearing-day {
					font-size: 48px;
					line-height: 30px;
					margin-bottom: 6px;
					font-family: "Adelle Bold";
					color: $grey02;
				}
				.hearing-month {
					line-height: 20px;
					margin-top: 3px;
					font-size: 20px;
					line-height: 28px;
					color: $grey02;
					text-transform: uppercase;
				}
				.hearing-day,
				.hearing-month {
					text-align: center;
					width: 54px;
				}
				.field-name-field-issues {
					margin-bottom: 0;
					ul {
						display: inline-block;
						li {
							display: inline-block;
							margin: 0 10px 0 0;
							&:nth-child(1) {
								&:before {
									content: "Related Issues:";
									font-family: "Proxima Nova SemiBold";
									font-size: 12px;
									line-height: 18px;
									text-transform: uppercase;
									color: $grey03;
									margin-right: 10px;
								}
							}
						}
					}
				}
				.hearing-body {
					margin: 40px 0 25px 0;
				}
				.hearing-title,
				.hearing-location,
				.hearing-date,
				.hearing-place { 
					margin-left: 28%;
					margin-bottom: 15px;
				}
			}
		}		
	}
	.pane-previous-sessions {
		margin-top: 40px;
		.pane-title {
			font-family: "Proxima Nova Regular";
			font-size: 16px;
			line-height: 26px;
			padding-bottom: 20px;
			border-bottom: 1px solid $grey05;
			text-transform: uppercase;
			color: $grey02;
		}
	}
	.view-previous-sessions {
		.view-grouping {
			position: relative;
			padding: 30px 0;
			border-bottom: 1px solid $grey05;
			.view-grouping-header {
				font-family: "Adelle Bold";
				font-size: 30px;
				line-height: 30px;
				color: $grey02;
				position: absolute;
				top: 30px;
				left: 0;
			}
			.view-grouping-content {
				h3.title {
					font-family: "Proxima Nova Regular";
					font-size: 16px;
					line-height: 26px;
					text-transform: uppercase;
					color: $grey02;
					position: absolute;
					top: 55px;
					left: 0;
				}
				.odd,
				.even {
					.event-title {
						margin-left: 25%;
						a {
							font-family: "Adelle Light";
							font-size: 24px;
							line-height: 24px;
							color: $grey02;
						}
					}
					.event-location-name {
						font-family: "Proxima Nova Regular";
						font-size: 14px;
						line-height: 26px;
						margin-left: 25%;
						&:before {
							color: $blue01;
							font-size: 20px;
							margin-top: -3px;
						}
					}
					.event-date {
						font-family: "Proxima Nova SemiBold";
						font-size: 14px;
						line-height: 30px;
						margin-left: 25%;
					}
				}
			}
		}
	}
	.block-nys-blocks-how-senate-works-block {
		max-width: 840px;
		margin: 0 auto;
		padding: 0 40px;
	}
}


@media #{$tablet} {
	.node-type-public-hearing {
		
	}
}